<div class="container-fluid" >
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Salary</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.id}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.phone}}</td>
          <td>{{employee.salary}}</td>
          <td>
              <button  type="submit" class="btn btn-outline-primary"  style="list-style:circle;" [routerLink]="['/employees/edit']" [queryParams]="{ id: employee.id }" >Details</button>
          </td>
        </tr>  
      </tbody>
    </table>
</div>