<div class="container-fluid">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Salary</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Johb brrr</td>
        <td>mith@gmail.com</td>
        <td>1234567890</td>
        <td>$50,000</td>
        <td>
          <button type="submit" class="btn btn-outline-primary" style="list-style: circle;">Details</button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>BEerr</td>
        <td>janvdi.@efsiojojfi.com</td>
        <td>0987654321</td>
        <td>$60,000</td>
        <td>
          <button type="submit" class="btn btn-outline-primary" style="list-style: circle;">Details</button>
        </td>
      </tr>
     
    </tbody>
  </table>
</div>
