<div class="container-fluid">
  <h4 class="mb-3">Edit Employee</h4>
  <div class="row">
    <div class="col-6">
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name">
          <div class="text-danger">
            <div>
              Name is required.
            </div>
            <div>
              Name must be at least 2 characters long.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email">
          <div class="text-danger">
            <div>
              Email is required.
            </div>
            <div>
              Invalid email address.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="number" class="form-control" id="phone" name="phone">
          <div class="text-danger">
            <div>
              Phone number is required.
            </div>
            <div>
              Phone number must contain only numbers.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="salary" class="form-label">Salary</label>
          <input type="number" class="form-control" id="salary" name="salary">
          <div class="text-danger">
            <div>
              Salary is required.
            </div>
            <div>
              Salary must be a positive number.
            </div>
          </div>
        </div>
        <button style="margin-right: 345px; width: 100px;" type="button" class="btn btn-outline-success">Save</button>
        <button type="button" class="btn btn-danger delwil">Delete</button>
      </form>
    </div>
  </div>
</div>
