<div class="container-fluid bg-dark navbar-dark">
  <nav style="min-height: 80px;" class="navbar navbar-expand-lg bg-dark navbar-dark nav_wrapper">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active empHover" aria-current="page" routerLink="employees/grid">List of Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active empHover" aria-current="page" routerLink="employees">Edit Employee</a>
      </li>    
      <li class="nav-item" id="navbarSupportedContent">
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addEmployee" type="submit">Add Employee</button>
      </li>  
    </ul>
  </div>
</nav>
<div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" value="Jsalim" disabled>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" value="john@dgyg.com" disabled>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" value="1234567890" disabled>
          </div>
          <div class="form-group">
            <label for="salary">Salary</label>
            <input type="number" class="form-control" id="salary" value="50000" disabled>
          </div>
          <button style="margin-top: 8px;" type="submit" class="btn btn-outline-success" disabled>Submit</button>
        </form>
         
      </div>
    </div>
  </div>
</div>
</div>


<router-outlet></router-outlet>
